.c-about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}
.about__left-content {
  align-self: center;
  display: grid;
  gap: 0.5em;
}

.about__title {
  text-transform: uppercase;
  font-size: 3rem;
  line-height: 3rem;
}
.about__description {
  opacity: 0.5;
  font-weight: 300;
}
.about__btns-container {
  margin-top: 1.5em;
  display: flex;
  gap: 1em;
}
.about__btn {
  font-size: 1rem;
  font-weight: 800;
}

.about__right-content {
  justify-self: center;
  display: flex;
  flex-direction: column;
  gap: 1em;
  transition: transform 0.2s, opacity 0.2s;
}
.about__sub-title {
  font-size: 1.5rem;
  text-transform: uppercase;
  text-align: center;
}
.about__cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
}