.c-card-slider {
  width: 100%;
  padding: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  -webkit-filter: blur(0);
  filter: blur(0);
  transition: filter 0.4s, -webkit-filter 0.4s, transform 0.4s;
  transform: translateY(-2%);

}

.c-card-slider--inactive {
  -webkit-filter: blur(4px);
  filter: blur(4px);
  transform: translateY(5%);
}

.card-slider__left-content {
  width: 100%;
  height: 100%;
  padding: 0 2em;
}

.card-slider__video-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.card-slider__video {
  position: relative;
  z-index: 900;
  width: 100%;
  border: 5px solid #f8f7f96b;
  box-shadow: 0px 0px 10px 3px #f8f7f9;
}

.card-slider__phone-border-container,
.card-slider__phone-background-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-slider__phone-background-container {
  z-index: -1;
}

.card-slider__phone-background {
  background-color: #505050;
  height: 110%;
  /* 110 */
  width: 100%;
  border-radius: 20px;
}

/* .card-slider__phone-border-container::before {
  content: "";
  position: absolute;
  margin: auto;
  top: -1.5em;
  left: 0;
  right: 0;
  width: 90%;
  height: 112%;
  background-color: #505050;
  border-radius: 1em;
} */

.card-slider__phone-border {
  position: relative;

  width: 100%;
  transform: scale(1.1);
}

/* .card-slider__phone-border {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0px;
  margin: auto;
  width: 100%;
} */
.card-slider__info-container {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  color: #f8f7f9;

}

.card-slider__project-name {
  font-size: 2rem;
  text-transform: uppercase;
  line-height: 2rem;
}

.card-slider__date-info {
  opacity: 0.6;
}

.card-slider__description {
  font-size: 1.2rem;
  font-weight: 300;
}

.card-slider__btn-container {
  text-align: center;
  margin-top: auto;
  margin-bottom: 2em;
  font-size: 1.5rem;
  font-weight: 900;
}

@media (max-width: 1000px) {
  .card-slider__project-name {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }

  .card-slider__description {
    font-size: 0.9rem;
    font-weight: 300;
  }

  .card-slider__btn-container {
    font-size: 1.1rem;
    font-weight: 900;
  }

  .card-slider__phone-background {
    height: 85%;
  }
}

@media (max-width: 730px) {
  .card-slider__project-name {
    font-size: 1.2rem;
    line-height:  1.2rem;
  }

  .card-slider__description {
    font-size: 0.8rem;
    font-weight: 300;
  }

  .card-slider__btn-container {
    font-size: 0.75rem;
    font-weight: 900;
  }

  .card-slider__phone-background {
    height: 110%;
  }
}

@media (max-width: 650px) {
  .c-card-slider {
    grid-template-columns: 1fr;
    transform: translateY(-1%);
    gap: 2em;
  }
  .c-card-slider--inactive {
    transform: translateY(3%);
  }
  .card-slider__left-content {
    padding: 0 4.5em;
  }
  .card-slider__phone-background {
    height: 105%;
  }
}

@media (max-width: 450px) {
  .card-slider__left-content {
    padding: 0 3em;
  }
}