.App {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 1024px;
  min-width: 280px;
  min-height: 100vh;
  padding: 0 1em;
  margin: auto;
  background-color: #1F1F1F;
}

.routes-container-body {
  position: relative;
  margin: auto 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2em 2em;
  color: #F8F7F9;
}